<div class="skybrud-elements-items">
    <div ng-repeat="item in items" class="skybrud-elements-item">
        <div ng-if="item.contentType.config.view" ng-include="item.contentType.config.view"></div>
        <div class="skybrud-elements-preview" ng-if="!item.contentType.config.view">
            <div class="skybrud-elements-preview-content" ng-click="editItem(item)">
                <i class="icon {{item.contentType.icon}}"></i>
                <strong>
                    {{getName(item, $index)}}
                </strong>
            </div>
            <div class="--actions">
                <a href="#" class="-red" prevent-default ng-click="requestDeleteItem($index)" localize="title" title="general_delete"><i class="icon icon-delete"></i></a>
            </div>
        </div>
    </div>
    <a class="skybrud-elements-add umb-child-selector__child -placeholder" ng-show="items.length < config.maxItems" ng-click="addItem()">
        <div class="umb-child-selector__child-name -blue"><strong><localize key="general_add">Add</localize></strong></div>
    </a>
</div>