<div class="skybrud-elements-properties" ng-controller="Skybrud.Umbraco.Elements.Properties.Controller">
    <form name="propertiesForm" ng-submit="save()" novalidate val-form-manager>
        <umb-editor-view>
            <umb-editor-header
                name="model.title"
                hide-icon="true"
                hide-alias="true"
                name-locked="true"
                hide-description="true">
            </umb-editor-header>
            <umb-editor-container>
                <div ng-if="model.groups" ng-repeat="group in model.groups">
                    <ng-form>
                        <div class="umb-expansion-panel" ng-if="group.collapsible">
                            <div class="umb-expansion-panel__header" ng-click="group.open = !group.open">
                                <div>{{group.name}}</div>
                                <ins class="umb-expansion-panel__expand" ng-class="{'icon-navigation-down': !group.open, 'icon-navigation-up': group.open}">&nbsp;</ins>
                            </div>
                            <div class="umb-expansion-panel__content" ng-show="group.open">
                                <umb-property property="property" ng-repeat="property in group.properties">
                                    <umb-property-editor model="property"></umb-property-editor>
                                </umb-property>
                            </div>
                        </div>
                        <div class="umb-group-panel" ng-if="!group.collapsible">
                            <div class="umb-group-panel__header">
                                <div>{{group.name}}</div>
                            </div>
                            <div class="umb-group-panel__content">
                                <umb-property property="property" ng-repeat="property in group.properties">
                                    <umb-property-editor model="property"></umb-property-editor>
                                </umb-property>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <umb-box ng-if="model.properties && !model.groups">
                    <umb-box-content>
                        <umb-property property="property" ng-repeat="property in model.properties">
                            <umb-property-editor model="property"></umb-property-editor>
                        </umb-property>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button
                        type="button"
                        button-style="link"
                        label-key="general_close"
                        action="model.close()">
                    </umb-button>
                    <umb-button
                        type="submit"
                        button-style="success"
                        label-key="general_submit">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>